.user-profile {
    height: 250px;
    filter: drop-shadow(2px 4px 30px rgba(0, 0, 0, 0.1));
    border-radius: 14px;
    background: linear-gradient(341.72deg, rgba(255, 255, 255, 0.1) 7.28%, rgba(255, 255, 255, 0.036) 96.36%);
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(35px);
    backdrop-filter: blur(35px);
    margin-bottom: 20px;

    .user-profile-list {
        .user-profile-wrapper {
            padding: 20px 20px;
            text-align: center;
            display: flex;
            gap: 7px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .profile-img{
                img{
                border-radius: 50%;
                }
            }
            .user-details{     
            .user-name {
                color: #588157;
                font-family: Montserrat;
                margin-bottom: 10px;
            }
            .user-role {
                color: #f7f7f7;
                font-weight: 400;
                padding: 3px 6px;
                background: #588157;
            }
            .adobe-certificate{
                margin-top: 13px;
            }
            }
        }
    }
}