.about-section {
  .about-me-whole-wrapper{
    .about-me-content-wrapper{
      .about-me-content-container{
        padding: 20px 10px;
        text-align: center;
        .image-wrapper{
          // position: relative;
          // &::after{
          //   content: "Lahore, Pakistan";
          //   background-color: #E5EED5;
          //   position: absolute;
          //   bottom: 0;
          //   border-radius: 50%;
          //   color: #344E41;
          //   font-family: Montserrat;
          //   font-size: 13px;
          //   font-style: normal;
          //   font-weight: 300;
          //   right: 0px;
          //   display: flex;
          //   width: 100px;
          //   height: 100px;
          //   z-index: -1;
          //   transform: translate(-7px, -18px);
          //   justify-content: center;
          //   align-items: center;
          // }
          img{
            width: 170px;
          }
        }
        .about-me-text-wrapper{
          .paragrapgh{
            .para1{
              // font-size: 1vw;
              font-family: 'Montserrat', sans-serif;
              margin-top: 13px;
              color: #344E41;
              font-style: normal;
              font-weight: 600;
            }
            .para2{
              // font-size: 0.83vw;
              margin-top: 20px;
              color: #344E41;
              font-family: Montserrat;
              font-style: normal;
              font-weight: 400;
            }
          }
        }
        .about-buttons-wrapper{
          margin-top: 50px;
          .visit-portfolio-btn {
            font-size: 23px;
            color: #ffffff;
            display: flex;
            padding: 4px 9px;
            align-items: center;
            cursor: pointer;
            height: 45px;
            margin-top: 1rem;
            border-radius: 6px;
            background: #344E41;
            font-family: Montserrat;
            font-weight: 700;
            span{
              width: 100%;
            }
          }
        }
      }
    }
  }
  .about-work-process-whole-wrapper {
    .about-work-process-container {
      margin-top: 45px;
      .work-process-title{
        h2{
          color: #344E41;
          text-align: center;
          font-family: Zen Dots;
          font-size: 28px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
      .work-process-image{
        img{
          width: 100%;
        }
      }
    }
  }
  .user-skills-whole-wrapper {
    margin-top: 40px;
    .work-process-title{
      h2{
        color: #344E41;
        text-align: center;
        font-family: Zen Dots;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .user-skills-whole-progressbar-wrapper{
      transform: rotate(-90deg);
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15.2vw;
      .user-profile-skills-progressbar-wrapper {
        margin-bottom: 3.5vw;
        position: relative;
        .profile-skills-lists {            
          .profile-skill-name {
            text-transform: uppercase;
            position: absolute;
            bottom: 7px;
            left: 15px;
            color: #FFF;
            // font-size: 0.8vw;
            font-weight: 700;
          }
  
          .profile-skill-percentage {
            font-style: normal;
            font-weight: 400;
            display: none;
            line-height: 20px;
            color: #878789;
          }
        }
  
        .profile-skills-progress {
          background-color: #E5EED5;
          border-radius: 7.5px;
  
          .progress-bar {
            background: #588157;
            height: 42px;
            border-radius: 7.5px;
          }
        }
      }
    }
  }
  .tools-whole-wrapper{
    margin-top: 50px;
    .tools-title{
      h2{
        color: #344E41;
        text-align: center;
        font-family: Zen Dots;
        font-size: 28px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    .tools-container{
      .tools-list-wrapper{
        text-align: center;
        .tools-list{
          list-style: none;
          padding-left: 0;
          margin: 0;
          li{
            color: #585858;
            font-size: 32px;
            font-weight: 700;
            position: relative;
            padding-top: 15px;
            &:after{
              content: url('/assets/img/underline.png');
              position: absolute;
              top: 36px;
              left: 75px;
            }
            &:last-child::after{
              content: none;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .about-cards{
    .about-inner-card{
      gap: 25px !important;
      padding: 15px 10px !important;
      .about-card-img{
        img{
          width:50px
        }
      }
      .card-heading{
        font-size: 17px !important;
        line-height: 20px !important;
      }
    }
  }
}

@media (max-width: 700px) {
  .about-section {
    .user-profile-list-mobile {
      display: block !important;
    }

    .about-container {
      .about-row {
        display: block !important;

        .about-columns {
          width: 100% !important;
        }
      }
    }
  }
  .title-about {
    .title-desc {
      font-size: 14px !important;
    }
  }
}