<div class="main">
  <div class="portfolio-section-bg" id="portfolio-section-bg">
    <!-- Navigation Menu For Mobile View With Sidebar -->
    <div class="navbar-mobile">
          <div class="user-whole-profile-wrapper">
            <div class="user-profile-wrapper">
              <div class="user-profile-icon">
                <img *ngIf="!isOpenProfile" src="assets/img/about-avatar-image.png" alt="">
                <i *ngIf="isOpenProfile" class="material-icons">close</i>
              </div>            
              <div class="user-profile-title">
                <div class="user-profile-name">
                  <span>Yasir Baig</span>
                </div>
                <div class="user-profile-role">
                  <span>UI/UX Designer</span>
                </div>
              </div>
            </div>
            <div class="user-toggle-menu-wrapper">
              <div class="toggle-menu-button">
                <button class="menu-button"  (click)="toggleSidebar()">
                  <i class="material-icons">{{ isOpen ? "close" : "menu" }}</i>
                </button>
              </div>
            </div>
          </div>
          <div class="sidebar-mobile" [ngClass]="{ 'open': isOpen, 'opened-sidebar': isOpen }">
            <div class="menu-type">
              <span>MENU</span>
            </div>
            <div class="mobile-navigation-menu">
              <div class="user-profile-detail-navbar">
                <ul class="user-profile-detail-nav-links">
                  <li>
                    <a routerLink="about" (click)="toggleSidebar()" [routerLinkActive]="'active'">About</a>
                  </li>
                  <li>
                    <a routerLink="resume" (click)="toggleSidebar()" [routerLinkActive]="'active'">Resume</a>
                  </li>
                  <li>
                    <a (click)="toggleSidebar()"
                      routerLink="portfolio"
                      [ngClass]="{ active: isPortfolioActive() }"
                    >
                      Portfolio
                    </a>
                  </li>
                  <li>
                    <a (click)="toggleSidebar()" routerLink="contact" [routerLinkActive]="'active'">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sidebar-footer" style="display: none;">
              <div class="social-icons" [ngClass]="{'open': isOpen}">
                <a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fab fa-facebook"></i>
                </a>
                <a
                  href="https://twitter.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
            </div>
          </div>
    </div>
    <!-- Navigation Menu For Desktop View-->
    <div [ngClass]="{'move-right': activeRoute !== 'about'}" class="navigation-menu">
      <div class="user-profile-detail-navbar">
        <div class="user-profile-wrapper">
          <div class="user-profile-icon">
            <img src="assets/img/about-avatar-image.png" alt="">
          </div>            
          <div class="user-profile-title">
              <p class="user-profile-name">Yasir Baig</p>
              <p class="user-profile-role">UI/UX Designer</p>
          </div>
        </div>
        <ul class="user-profile-detail-nav-links">
          <li>
            <a routerLink="about" [routerLinkActive]="'active'">About</a>
          </li>
          <li>
            <a routerLink="resume" [routerLinkActive]="'active'">Resume</a>
          </li>
          <li>
            <a routerLink="portfolio" [ngClass]="{'active': isPortfolioActive() }">
              Portfolio
            </a>
          </li>
          <li>
            <a routerLink="contact" [routerLinkActive]="'active'">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Floading Circles Shapes on background -->
    <div style="display: none;" class="card">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <!-- Check if the active route is equal to about -->
    <div *ngIf="activeRoute === 'about' && isDesktop" class="porfolio-about-section-wrapper">
      <div class="porfolio-section-list" id="porfolio-section-list">
        <div class="profile-content">
          <div class="about-me">
            <div class="content">
              <div class="content-wrapper">
                <h2>Hey there! <span>I’m Yasir</span></h2>
                <div class="paragrapgh">
                  <p class="para1">
                    Yasir Baig is a seasoned graphic designer with extensive experience in UI/UX design. With 7 years of industry experience, Yasir has developed a deep understanding of user-centered design methodologies and principles. 
                  </p>

                  <p class="para2">
                    Proficient in Adobe Creative Suite and experienced in wireframing, prototyping, and usability testing, Yasir has successfully created visually compelling designs that prioritize usability and enhance user experiences. With a meticulous approach to design and a keen eye for detail, Yasir consistently delivers polished and intuitive designs that resonate with target audiences and meet client objectives.
                  </p>
                </div>
                <div class="buttons">
                  <a
                  href="/assets/cv/Faisal-Ali-UX-Expert.pdf"
                  download="Faisal-Ali-UX-Expert.pdf" style="color: #fff; text-decoration: none;"
                >
                  <div class="visit-portfolio-btn">
                    <span>Download Resume</span>
                  </div>
                  </a>
                  <div routerLink="/portfolio" class="visit-portfolio-btn">
                    <span>Visit My Portfolio</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="second-image">
              <figure>
                <img src="assets/img/about-avatar-image.png" alt="" />
                <figcaption style="text-align: right;">Barcelona, Spain</figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="porfolio-section-detail" id="porfolio-section-detail">
          <div class="portfolio-about-user-left overflow">
            <div class="about-user-left-whole-wrapper">
              <div class="user-profile-tool-set">
                <div class="user-profile-info-wrapper">
                  <div class="toolset-heading">
                    <h4>TOOLSET</h4>
                  </div>
                    <div class="toolset-whole-container">
                      <div class="icons-image">
                        <img src="assets/img/figma-icon.png" alt="" srcset="">
                      </div>
                      <div class="icons-image">
                        <img src="assets/img/invision-app.png" alt="" srcset="">
                      </div>
                      <div class="icons-image">
                        <img src="assets/img/xd-icon.png" alt="" srcset="">
                      </div>
                      <div class="icons-image">
                        <img src="assets/img/sketch-icon.png" alt="" srcset="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="user-profile-skillset">
                <div class="skillset-heading">
                  <h4>SKILLSET</h4>
                </div>
                  <div class="user-skills-whole-wrapper">
                    <div class="user-profile-skills-progressbar-wrapper">
                      <div class="profile-skills-lists">
                        <span class="profile-skill-name">SEO/SEM</span>
                        <span class="profile-skill-percentage">90%</span>
                      </div>
                      <div class="profile-skills-progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 90%"
                        ></div>
                      </div>
                    </div>
                    <div class="user-profile-skills-progressbar-wrapper">
                      <div class="profile-skills-lists">
                        <span class="profile-skill-name">HTML/CSS</span>
                        <span class="profile-skill-percentage">100%</span>
                      </div>
                      <div class="profile-skills-progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 100%"
                        ></div>
                      </div>
                    </div>
                    <div class="user-profile-skills-progressbar-wrapper">
                      <div class="profile-skills-lists">
                        <span class="profile-skill-name">jquery</span>
                        <span class="profile-skill-percentage">70%</span>
                      </div>
                      <div class="profile-skills-progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="70"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 70%"
                        ></div>
                      </div>
                    </div>
                    <div class="user-profile-skills-progressbar-wrapper">
                      <div class="profile-skills-lists">
                        <span class="profile-skill-name">Salesforce</span>
                        <span class="profile-skill-percentage">90%</span>
                      </div>
                      <div class="profile-skills-progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 90%"
                        ></div>
                      </div>
                    </div>
                    <div class="user-profile-skills-progressbar-wrapper">
                      <div class="profile-skills-lists">
                        <span class="profile-skill-name">CMS/CRM</span>
                        <span class="profile-skill-percentage">80%</span>
                      </div>
                      <div class="profile-skills-progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 80%"
                        ></div>
                      </div>
                    </div>
                    <div class="user-profile-skills-progressbar-wrapper">
                      <div class="profile-skills-lists">
                        <span class="profile-skill-name">WordPress/Joomla</span>
                        <span class="profile-skill-percentage">80%</span>
                      </div>
                      <div class="profile-skills-progress">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 80%"
                        ></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="content-wrapper">
              <div class="heading">
                <h4>DESIGN PROCESS</h4>
              </div>
              <img src="assets/img/design-process.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Check if the active route is not equal to about to display other pages-->
    <div *ngIf="activeRoute !== 'about' && isDesktop"
      class="porfolio-section-wrapper"
      id="porfolio-section-wrapper"
    >
      <div class="porfolio-section-list" id="porfolio-section-list">
        <app-profile></app-profile>
        <app-profile-list></app-profile-list>
      </div>
      <div class="porfolio-section-detail" id="porfolio-section-detail">
        <app-profile-detail></app-profile-detail>
      </div>
    </div>
    <!-- Check for the mobile view-->
    <div *ngIf="!isDesktop"
    class="porfolio-section-wrapper"
    id="porfolio-section-wrapper"
  >
    <div class="porfolio-section-list" id="porfolio-section-list">
      <app-profile></app-profile>
      <app-profile-list></app-profile-list>
    </div>
    <div class="porfolio-section-detail" id="porfolio-section-detail">
      <app-profile-detail></app-profile-detail>
    </div>
    </div>
  </div>
</div>
